plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - { type: doc, scope: README, release: patch }
        - { type: fix, release: patch }
        - { type: chore, release: patch }
        - { type: refactor, release: patch }
        - { type: feat, release: minor }
        - { type: ci, release: false }
        - { type: style, release: false }
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/github"
    - assets:
        - path: ./.bin/build-tools
          name: build-tools
        - path: ./.bin/build-tools_osx
          name: build-tools_osx
  - - "@eclass/semantic-release-docker"
    - baseImageName: build-tools
      registries:
        - url: docker.io
          imageName: docker.io/flanksource/build-tools
          user: DOCKER_USER
          password: DOCKER_PASSWORD
      additionalTags:
        - latest
